<div class="row student-dashboard">

  <%= render "shared/dashboard_welcome" %>
  <div class="col-md-8">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Course</th>
          <th scope="col">Grade</th>
          <th scope="col">Semester</th>
        </tr>
      </thead>
      <tbody>
        <% @course_data.each_with_index do |course, i| %>
          <tr>
            <th scope="row"><%= i += 1%></th>
            <td><%= course[:name] %></td>
            <td><%= course[:grade] %></td>
            <td><%= course[:semester] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-md-4">
    <div class="col-md-12">
      <h3>Recent Semester GPA's</h3>
      <% if @semesters_gpa %>
        <ul>
          <% @semesters_gpa.each do |g| %>
            <li>
              <%= g[:semester_term] %>: <%= g[:gpa] %>
            </li>
          <% end %>
        </ul>
      <% else %>
        <p>
          <%= @non_enrollment %>
        </p>
      <% end %>
    </div>
  </div>
</div>
